.results-container {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  padding: 15px;
  text-align: left;
  width: 80vw;

  .results-paragraph {
    font-weight: bold;
  }

  .movie {
    padding-left: 5px;
  }

  button {
    border: 1px solid darkgrey;
    border-radius: 3px;
    font-weight: 600;
    margin: 5px;
    padding: 2px 10px;

    &:hover {
      background-color: #005b6e;
      color: white;
      transition: 0.3s ease-out;
    }
  }
}

@media only screen and (min-width: 800px) {
  .results-container {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .all-movies-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas:
      "alert alert"
      "results nominations";
  }

  .alert {
    grid-area: alert;
    height: 50px;
  }

  .results-container {
    grid-area: results;
    margin-bottom: 50px;
    max-width: 45vw;
    padding-top: 10px;
  }

  .nominations-container {
    grid-area: nominations;
    max-width: 45vw;
  }
}

@media only screen and (min-width: 1440px) {
  .all-movies-container {
    margin: 0 auto;
    width: 65vw;
  }
  .results-container {
    max-width: 600px;
  }

  .nominations-container {
    max-width: 600px;
  }
}
