.header {
  padding: 10px 0;
  text-shadow: 2px 2px black;

  h1,
  h4 {
    color: #fee964;
    font-weight: bold;
  }

  h1 {
    font-size: 2rem;
  }

  .trophy {
    width: 40px;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
