.footer {
  background-color: rgb(1, 88, 110);
  bottom: 0;
  height: 25px;
  left: 0;
  position: fixed;
  width: 100vw;

  p,
  a {
    color: #bbd8de;
    font-size: 0.8rem;
    font-weight: bold;
    padding-top: 0.2rem;
  }

  a {
    text-decoration-line: underline;

    &:hover {
      color: #fee964;
    }
  }
}
